{% extends 'historiaClinica/index.html' %}
{% load static %}
{% block titulo %} Crear Medico {% endblock titulo %}
{% block tituloPrincipal %} Crear Medico {% endblock tituloPrincipal %}
{% block contenidoPrincipal %} 
<div class="card">
    <div class="card-header">
        <strong>Formulario de Registro</strong>
    </div>
     <div class="card-body card-block">
        <form method="post" class="form-horizontal">
            {% csrf_token %}   
            
            {% if form.errors %}
            <p class="text-danger">{{form.errors}}</p>
            {% endif %}

            <div class="row form-group">
                <div class="col col-md-3 ">{{ form.nombre.label }}</div>
                <div class="col-12 col-md-9">{{ form.nombre }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.apellido.label }}</div>
                <div class="col-12 col-md-9">{{ form.apellido }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.tipoDocumento.label }}</div>
                <div class="col-12 col-md-9">{{ form.tipoDocumento }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.numeroDoc.label }}</div>
                <div class="col-12 col-md-9">{{ form.numeroDoc }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.telefono.label }}</div>
                <div class="col-12 col-md-9">{{ form.telefono }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.celular.label }}</div>
                <div class="col-12 col-md-9">{{ form.celular }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.fechaNacimiento.label }}</div>
                <div class="col-12 col-md-9">{{ form.fechaNacimiento }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.correo.label }}</div>
                <div class="col-12 col-md-9">{{ form.correo }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.categoria.label }}</div>
                <div class="col-12 col-md-9">{{ form.categoria }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.horaIng.label }}</div>
                <div class="col-12 col-md-9">{{ form.horaIng }}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.horaSalida.label }}</div>
                <div class="col-12 col-md-9">{{ form.horaSalida}}</div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">{{ form.turnoMax.label }}</div>
                <div class="col-12 col-md-9">{{ form.turnoMax }}</div>
            </div>

            <div class="text-center">
                <button type="submit" onclick="asd()" class="btn btn-primary">Registrar</button>
                <button type="reset" class="btn btn-danger">Cancelar</button>
            </div>
        
    </div>
</div>
     
  <script>
      function asd(){
        var doc = document.getElementById("numeroDoc");
        if(doc.value == ""){
            doc.style.border = " 1px solid red";
            } 
        }

    var patron = new Array(2,2,4)    
    var patron2 = new Array(2,2)

    function mascara(d,sep,pat,nums){
        if(d.valant != d.value){
        val = d.value
        largo = val.length
        val = val.split(sep)
        val2 = ''
        for(r=0;r<val.length;r++){
            val2 += val[r]	
        }
        if(nums){
            for(z=0;z<val2.length;z++){
                if(isNaN(val2.charAt(z))){
                    letra = new RegExp(val2.charAt(z),"g")
                    val2 = val2.replace(letra,"")
                }
            }
        }
        val = ''
        val3 = new Array()
        for(s=0; s<pat.length; s++){
            val3[s] = val2.substring(0,pat[s])
            val2 = val2.substr(pat[s])
        }
        for(q=0;q<val3.length; q++){
            if(q ==0){
                val = val3[q]
            }
            else{
                if(val3[q] != ""){
                    val += sep + val3[q]
                    }
            }
        }
        d.value = val
        d.valant = val
        }
    }

    </script>

    </form>
{% endblock contenidoPrincipal %}