{% extends 'historiaClinica/index.html' %}
{% load static %}
{% block titulo %} Medicos {% endblock titulo %}
{% block tituloPrincipal %} Medicos {% endblock tituloPrincipal %}
{% block contenidoPrincipal %} 
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Medicos{% if categoria %} especialistas en {{categoria.nombre}} {% endif %}</h3>

          <div class="card-tools">
            <form method="GET">
            <div class="input-group input-group-sm" style="width: 250px;">
              <input type="text" name="buscar" class="form-control float-right" placeholder="Buscar" value="{{request.GET.buscar}}">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
          </div>
        </div>
        <!-- /.card-header -->
        
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Fecha Nacimiento</th>
                <th>Categoria</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                  
                    <tr>
                        <td>{{medico.id}}</td>
                        <td>{{medico.nombre}} {{medico.apellido}}</td>
                        <td>{{medico.numeroDoc}}</td>
                        <td>{{medico.fechaNacimiento}}</td>
                        <td>{% for categoria in medico.categoria.all %} {{ categoria }} - {% endfor %}</td>
                        <td>
                          <a href="{% url 'un-medico' medico.id %}" class="btn btn-success mr-2">Ver</a>
                          <a href="{% url 'turnoPorMedico' medico.id %}" class="btn btn-info mr-2">Turno</a>
                          <a href="{% url 'modificar-medico' medico.id %}" class="btn btn-primary mr-2">Modificar</a>
                          <a href="{% url 'eliminar-medico' medico.id %}" onClick="return confirm('Seguro desea eliminar medico?')" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
              {% endfor %}
             
            
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-lg-6 m-3">
            
              {% if medicos.has_previous %}
              <a class="btn btn-warning" href="?page={{medicos.previous_page_number}}{% if request.GET.search%}&q={{request.GET.search}}{% endif %}">Atrás</a>
              {% endif %}

              {% if medicos.has_next %}          
              <a  class="btn btn-warning" href="?page={{medicos.next_page_number}}{% if request.GET.search%}&q={{request.GET.search}}{% endif %}">Siguiente</a>
              {% endif %}
            
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
{% endblock contenidoPrincipal %}