{% extends 'historiaClinica/index.html' %}
{% load static %}
{% block titulo %} Medicos {% endblock titulo %}
{% block tituloPrincipal %} Medicos {% endblock tituloPrincipal %}
{% block contenidoPrincipal %} 
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Medicos{% if categoria %} especialistas en {{categoria.nombre}} {% endif %}</h3>

          <div class="card-tools">
            <form method="GET">
            <div class="input-group input-group-sm" style="width: 250px;">
              <input type="text" name="buscar" class="form-control float-right" placeholder="Buscar" value="{{request.GET.buscar}}">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>
          </div>
        </div>
        <!-- /.card-header -->
        
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Fecha Nacimiento</th>
                <th>Categoria</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                
                    <tr>
                        <td>{{medico.id}}</td>
                        <td>{{medico.nombre}} {{medico.apellido}}</td>
                        <td>{{medico.numeroDoc}}</td>
                        <td>{{medico.fechaNacimiento}}</td>
                        <td>{{medico.categoria}}</td>
                        <td><a href="{% url 'modificar-medico' medico.id %}" class="btn btn-primary mr-2">Modificar</a> <a href="{% url 'eliminar-medico' medico.id %}" onClick="return confirm('Seguro desea eliminar medico?')" class="btn btn-danger">Eliminar</a></td>
                    </tr>
              {% endfor %}
             
            
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
{% endblock contenidoPrincipal %}