{% extends 'historiaClinica/index.html' %}
{% load static %}
{% block titulo %} Obras Sociales {% endblock titulo %}
{% block tituloPrincipal %} Obras Sociales {% endblock tituloPrincipal %}
{% block contenidoPrincipal %} 

<button class="btn btn-primary" onclick="mostrar()">Crear Nueva</button>

<form hidden id="formulario" method="POST">
{% csrf_token %}     
<div class="row form-group mt-3">
    {{form.nombre}}
    <!--<input type="text" class="col col-md-3 form-control mr-2" name="cat" placeholder="Ingrese Nombre">-->
    <button type="submit" class="col col-md-1 btn btn-primary" >Guardar</button>
</div>
</form>

    
        

<div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
          {% for obra in obrassociales %}
          
              <tr>
                  <td>{{obra.id}}</td>
                  <td><input type="text" value="{{obra.nombre}}" id="nombre" style="border: none;" disabled ></td>
                 
                  <td>
                    <a href="{% url 'pacientes-obrasocial' obra.id %}" class="btn btn-success mr-2">Ver Pacientes</a> 
                    <button onclick="modificar()"  class="btn btn-primary mr-2">Modificar</button>
                    <a href="" id="modifica" class="btn btn-info mr-2" hidden>Aceptar</a>
                  </td>
              </tr>
        {% endfor %}
              

      </tbody>
    </table>

    <script>
        var form = document.getElementById("formulario")
        var modifica = document.getElementById("modifica")
        
        
        function mostrar(){
            form.hidden = false;
        }
        function ocultar(){
            form.hidden = true
        }

        function modificar(){
            
          document.getElementById("nombre").disabled = false ;

            if (modifica.hidden == false) { 
              modifica.hidden = true
            }else { 
              modifica.hidden = false;
            }

           
        }
            
    </script>
 


{% endblock contenidoPrincipal %}