{% extends 'historiaClinica/index.html' %}
{% load static %}
{% block titulo %} Pacientes {% endblock titulo %}
{% block tituloPrincipal %} Pacientes {% endblock tituloPrincipal %}
{% block contenidoPrincipal %} 
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Pacientes</h3>

          <div class="card-tools">
            <form method="GET">
            <div class="input-group input-group-sm" style="width: 250px;">
              <input type="text" name="buscar" class="form-control float-right" placeholder="Buscar" value="{{request.GET.buscar}}">

              <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
              </div>
            </div>
            </form>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Documento</th>
                <th>Fecha Nacimiento</th>
                <th>Obra Social</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                
                    <tr>
                        <td>{{paciente.id}}</td>
                        <td>{{paciente.nombre}} {{paciente.apellido}}</td>
                        <td>{{paciente.numeroDoc}}</td>
                        <td>{{paciente.fechaNacimiento}}</td>
                        <td>{% for obra in paciente.obraSocial.all %} {{ obra }} - {% endfor %}</td>
                        <td>  
                          <a href="{% url 'un-paciente' paciente.id %}" class="btn btn-success mr-2">Ver</a>
                          <a href="{% url 'turnoPorPaciente' paciente.id %}" class="btn btn-info mr-2">Turno</a>
                          <a href="{% url 'modificar-paciente' paciente.id %}" class="btn btn-primary mr-2">Modificar</a> 
                          <a href="{% url 'eliminar-paciente' paciente.id %}" id="eliminar" onClick="return confirm('Seguro desea eliminar?')"  class="btn btn-danger">Eliminar</a>                          
                        </td>
                    </tr>
                {% endfor %}
              <!--return confirm('Seguro desea eliminar paciente?')-->
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->

{% endblock contenidoPrincipal %}