{% extends 'historiaClinica/index.html' %}
{% load static %}
{% block titulo %} Turnos {% endblock titulo %}
{% block tituloPrincipal %} Turnos {% endblock tituloPrincipal %}
{% block contenidoPrincipal %} 

<!-- Main content -->
<section class="content">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Turnos</h3>
                <a class="btn btn-primary ml-5" href="{% url 'crear-turno' %}">Nuevo turno</a>
                

                <div class="card-tools">
                  <form method="GET">
                    
                  <div class="input-group input-group-sm" style="width: 250px;">
                    <input type="text" name="buscar" class="form-control float-right" placeholder="Buscar" value="{{request.GET.buscar}}">
      
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
              
              <!-- /.card-header -->
              <div class="card-body table-responsive">
                <table id="example2" class="table table-bordered table-striped">
                  <thead>        
                    
                  <tr>
                    <!--<th>ID</th>--> 
                    <th>Horario</th>
                    <th>Fecha</th>
                    <th>Paciente</th>
                    <th>Medico</th>
                    <th>Estado</th>
                  </tr>
                  </thead>
                  <tbody>
                {% for turno in turnos %}
                  <tr>
                   <!--<td>{{turno.id}}</td>--> 
                    <td><a href="{% url 'modificar-turno' turno.id %}">{{turno.hora}}</a></td>
                    <td>{{turno.horario}}</td>
                    <td><a href="{% url 'un-paciente' turno.paciente.id %}">{{turno.paciente}}</a></td>
                    <td><a href="{% url 'un-medico' turno.medico.id %}">{{turno.medico}}</a></td>
                    {% if turno.estado == False %}
                    <td class="bg-danger"><a style="cursor: pointer;" data-toggle="modal" data-target="#myModal" data-id="{{turno.id}}">Pendiente</a></td>
                    <!-- The Modal -->
                        <div class="modal" id="myModal">
                          <div class="modal-dialog">
                            <div class="modal-content">

                              <!-- Modal Header -->
                              <div class="modal-header">
                                <h4 class="modal-title">Terminar Turno</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                              </div>

                              <!-- Modal body -->
                              <div class="modal-body">
                                Confirmar Terminar Turno?
                              </div>

                              <!-- Modal footer -->
                              <div class="modal-footer">
                                <a href="{% url 'eliminar-turno' turno.id %}"  class="btn btn-danger">Eliminar</a>
                              </div>

                            </div>
                          </div>
                        </div>
                    {% else %}
                    <a href="{% url 'eliminar-turno' turno.id %}" onClick="return confirm('Seguro desea terminar turno?')"><td class="bg-success">Realizado</td></a>
                    {% endif %}
                  </tr>
                {% endfor %}  
                  </tbody>
                </table>
              </div>

              <div class="row">
                <div class="col-lg-6 m-3">
                  
                    {% if turnos.has_previous %}
                    <a class="btn btn-warning" href="?page={{turnos.previous_page_number}}{% if request.GET.search%}&q={{request.GET.search}}{% endif %}">Atrás</a>
                    {% endif %}
      
                    {% if turnos.has_next %}          
                    <a  class="btn btn-warning" href="?page={{turnos.next_page_number}}{% if request.GET.search%}&q={{request.GET.search}}{% endif %}">Siguiente</a>
                    {% endif %}
                  
                </div>
              </div>

              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>

    
    
{% endblock contenidoPrincipal %}
