{% extends 'historiaClinica/index.html' %}
{% load static %}
{% block titulo %} Turnos de PRUEBA {% endblock titulo %}
{% block tituloPrincipal %} Turnos PRUEBAAAAAAAAAAAAAAA {% endblock tituloPrincipal %}
{% block contenidoPrincipal %} 
    {% if error %} {{error}} {% endif %}
    <form method="POST">
    {% csrf_token %}  
    <input type="text" placeholder="paciente dni" name="dniP">
    <input type="text" placeholder="medico dni" name="dniM">
    <input type="date" placeholder="fecha" name="fecha">
    <input type="text"placeholder="hora" name="hora">
    <input type="text" placeholder="descripcion" name="descripcion">
    <button type="submit" class="btn btn-primary"> aceptar</button>
    </form>

{% endblock contenidoPrincipal %}